<a href="https://colab.research.google.com/github/nabin012/ybi-foundation-project/blob/main/credit_card_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#load the dataset to a pandas dataframe
credit_card_data = pd.read_csv('/content/CreditCardDefault.csv')

In [4]:
#first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
#showing last 5 data of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
226523,144665.0,0.344393,1.618030,-1.001887,1.436099,0.880672,-1.164533,0.874471,-0.393229,-0.574127,...,0.292864,1.135491,-0.185292,-0.174825,-0.935364,0.168701,0.217923,0.317947,1.00,0.0
226524,144666.0,-0.385187,1.145826,-0.486830,-1.511339,1.828797,-0.972461,2.314604,-1.188300,0.468980,...,0.054596,1.029494,-0.337401,0.802903,-0.357170,-0.096630,-0.330168,-0.495440,5.01,0.0
226525,144666.0,2.043077,-0.144882,-1.187768,0.229859,0.023697,-0.718984,0.038179,-0.137360,0.383441,...,-0.265112,-0.688106,0.295285,-0.350424,-0.303334,0.200140,-0.078255,-0.074625,0.99,0.0
226526,144666.0,1.951846,-0.459679,-0.418486,0.246875,-0.532899,0.015536,-0.748929,0.275394,1.263846,...,-0.150186,-0.417047,0.432302,0.611441,-0.513849,-0.665989,0.019636,-0.038856,0.76,0.0
226527,144666.0,-1.466341,-1.382829,-2.201300,0.918801,1.774906,-1.013333,0.349956,0.335357,0.030755,...,0.236233,-0.241749,0.486493,-0.135437,-0.239245,-0.308849,-0.073323,-0.300461,237.00,NaN

In [7]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226528 entries, 0 to 226527
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    226528 non-null  float64
 1   V1      226528 non-null  float64
 2   V2      226528 non-null  float64
 3   V3      226528 non-null  float64
 4   V4      226528 non-null  float64
 5   V5      226528 non-null  float64
 6   V6      226528 non-null  float64
 7   V7      226528 non-null  float64
 8   V8      226528 non-null  float64
 9   V9      226528 non-null  float64
 10  V10     226528 non-null  float64
 11  V11     226528 non-null  float64
 12  V12     226528 non-null  float64
 13  V13     226528 non-null  float64
 14  V14     226528 non-null  float64
 15  V15     226528 non-null  float64
 16  V16     226528 non-null  float64
 17  V17     226528 non-null  float64
 18  V18     226528 non-null  float64
 19  V19     226528 non-null  float64
 20  V20     226528 non-null  float64
 21  V21     226528 non-null  float64
 22  V22     226528 non-null  float64
 23  V23     226528 non-null  float64
 24  V24     226528 non-null  float64
 25  V25     226528 non-null  float64
 26  V26     226528 non-null  float64
 27  V27     226528 non-null  float64
 28  V28     226528 non-null  float64
 29  Amount  226528 non-null  float64
 30  Class   226527 non-null  float64
dtypes: float64(31)
memory usage: 53.6 MB

In [9]:
#checking the number of missing values in each col
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     1
dtype: int64

In [12]:
#checking the data of legit and fraud transcation
#0 represent legit trans wheras 1 represent fraud trans
credit_card_data['Class'].value_counts()

0.0    226112
1.0       415
Name: Class, dtype: int64


This dataset is Highly unbalanced as you can see the number of the legit transcation is more so if we take priority to legit data more then in any test result it will show the legit transcation so we need to balanced this data

In [13]:
#seperatin the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(226112, 31)
(415, 31)

In [16]:
#statistical measures of the data
legit.Amount.describe()

count    226112.000000
mean         90.704778
std         249.938875
min           0.000000
25%           6.000000
50%          23.400000
75%          79.950000
max       19656.530000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     415.000000
mean      124.653398
std       256.043305
min         0.000000
25%         1.000000
50%        12.310000
75%       106.725000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
#compare the values for both transcation
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,78680.748638,-0.059276,-0.020145,0.201871,0.036492,-0.058644,0.033971,-0.016489,0.003616,0.007151,...,0.009573,-0.007983,-0.023652,-0.010097,0.001285,0.039062,0.002903,-0.000092,0.001926,90.704778
1.0,66934.766265,-5.385937,3.966763,-7.457503,4.664025,-3.779142,-1.356134,-6.279493,0.656473,-2.698293,...,0.381241,0.766231,0.012771,-0.054751,-0.082825,0.047755,0.038529,0.199928,0.060610,124.653398

Balancing the data using undersampling

Build the sample dataset containing the similar distribution of data between the normal transc and fraud transc

no of fraud tranc--->415

In [19]:
#random sampling is done
legit_sample= legit.sample(n=415)

In [21]:
#concatenating two data frames
new_dataset = pd.concat([legit_sample , fraud], axis=0)

In [22]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
198373,132462.0,-5.765315,-4.733694,-2.856855,1.308049,-3.056040,1.261361,5.819821,-2.964386,1.391785,...,-1.889980,-0.530501,-5.098845,0.650234,-2.084542,0.069455,1.508585,-3.541725,1401.16,0.0
109626,71463.0,-5.832824,5.240197,-3.318135,0.855898,-3.474542,-1.379657,-3.059225,4.068692,-0.914590,...,0.581605,0.314712,0.462003,0.374561,0.140968,-0.421922,-1.952324,-0.453857,2.31,0.0
170136,120034.0,-1.054319,1.955021,-1.414399,0.773729,-0.709852,-0.099650,0.397863,1.036321,-0.558190,...,-0.317005,-1.205610,0.395602,-0.917329,-0.919753,-1.193749,-0.353363,-0.092444,155.37,0.0
186414,127095.0,-0.436403,0.626111,0.870261,-0.669701,0.859322,-1.167839,1.174321,-0.480910,-0.084130,...,-0.233681,-0.532370,-0.076652,0.044425,-0.511775,0.102021,-0.220834,-0.045763,1.98,0.0
9044,12613.0,0.797503,3.840937,-8.129344,5.180961,4.170041,1.643695,-0.287454,1.642456,-1.167485,...,-0.157389,-0.360011,0.359804,0.259060,-0.819655,0.432642,-0.211101,-0.166596,1.00,0.0

In [23]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
222419,142961.0,0.457845,1.373769,-0.488926,2.805351,1.777386,0.100492,1.295016,-0.135857,-1.695822,...,0.105593,0.371014,0.051105,0.401524,-0.724766,-0.202881,0.092124,0.094956,0.0,1.0
223366,143354.0,1.118331,2.074439,-3.837518,5.448060,0.071816,-1.020509,-1.808574,0.521744,-2.032638,...,0.289861,-0.172718,-0.021910,-0.376560,0.192817,0.114107,0.500996,0.259533,1.0,1.0
223572,143434.0,-2.729482,3.312495,-4.242710,5.036985,-0.376561,-1.532462,-3.449159,1.856839,-3.623334,...,0.727415,-0.301432,-0.502433,-0.462309,0.510683,0.046665,0.514646,0.140999,1.0,1.0
223578,143438.0,-5.256434,0.364541,-5.412085,2.400031,0.697301,-1.998755,-5.835532,-0.887739,-2.828287,...,-0.648259,0.511285,-1.110045,0.178987,0.220235,-0.699809,0.580487,-0.173630,8.9,1.0
223618,143456.0,-2.006582,3.676577,-5.463811,7.232058,-1.627859,-0.996755,-4.299833,2.268867,-3.651067,...,0.713907,-0.063868,0.167947,-0.449864,0.023702,0.536905,0.485864,-0.042393,1.0,1.0

In [24]:
new_dataset['Class'].value_counts()
#here you can see uniformly distributed data

0.0    415
1.0    415
Name: Class, dtype: int64

In [25]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,82378.493976,-0.032502,0.083940,0.201283,0.107138,-0.103453,0.041434,-0.060813,0.027245,-0.055764,...,-0.010841,0.027658,0.009739,-0.066860,-0.008392,0.020753,-0.043594,-0.001438,-0.007382,90.402145
1.0,66934.766265,-5.385937,3.966763,-7.457503,4.664025,-3.779142,-1.356134,-6.279493,0.656473,-2.698293,...,0.381241,0.766231,0.012771,-0.054751,-0.082825,0.047755,0.038529,0.199928,0.060610,124.653398

Splitting the data into features and targets

In [26]:
#here 'X' is features wheras 'Y' is class
X = new_dataset.drop(columns='Class', axis=1) 
Y = new_dataset['Class']

In [27]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
198373  132462.0 -5.765315 -4.733694 -2.856855  1.308049 -3.056040  1.261361
109626   71463.0 -5.832824  5.240197 -3.318135  0.855898 -3.474542 -1.379657
170136  120034.0 -1.054319  1.955021 -1.414399  0.773729 -0.709852 -0.099650
186414  127095.0 -0.436403  0.626111  0.870261 -0.669701  0.859322 -1.167839
9044     12613.0  0.797503  3.840937 -8.129344  5.180961  4.170041  1.643695
...          ...       ...       ...       ...       ...       ...       ...
222419  142961.0  0.457845  1.373769 -0.488926  2.805351  1.777386  0.100492
223366  143354.0  1.118331  2.074439 -3.837518  5.448060  0.071816 -1.020509
223572  143434.0 -2.729482  3.312495 -4.242710  5.036985 -0.376561 -1.532462
223578  143438.0 -5.256434  0.364541 -5.412085  2.400031  0.697301 -1.998755
223618  143456.0 -2.006582  3.676577 -5.463811  7.232058 -1.627859 -0.996755

              V7        V8        V9  ...       V20       V21       V22  \
198373  5.819821 -2.964386  1.391785  ... -4.577094 -1.889980 -0.530501
109626 -3.059225  4.068692 -0.914590  ... -0.567269  0.581605  0.314712
170136  0.397863  1.036321 -0.558190  ... -0.553166 -0.317005 -1.205610
186414  1.174321 -0.480910 -0.084130  ... -0.094718 -0.233681 -0.532370
9044   -0.287454  1.642456 -1.167485  ...  0.100035 -0.157389 -0.360011
...          ...       ...       ...  ...       ...       ...       ...
222419  1.295016 -0.135857 -1.695822  ... -0.264705  0.105593  0.371014
223366 -1.808574  0.521744 -2.032638  ...  0.163513  0.289861 -0.172718
223572 -3.449159  1.856839 -3.623334  ...  0.164288  0.727415 -0.301432
223578 -5.835532 -0.887739 -2.828287  ... -0.403685 -0.648259  0.511285
223618 -4.299833  2.268867 -3.651067  ...  0.474414  0.713907 -0.063868

             V23       V24       V25       V26       V27       V28   Amount
198373 -5.098845  0.650234 -2.084542  0.069455  1.508585 -3.541725  1401.16
109626  0.462003  0.374561  0.140968 -0.421922 -1.952324 -0.453857     2.31
170136  0.395602 -0.917329 -0.919753 -1.193749 -0.353363 -0.092444   155.37
186414 -0.076652  0.044425 -0.511775  0.102021 -0.220834 -0.045763     1.98
9044    0.359804  0.259060 -0.819655  0.432642 -0.211101 -0.166596     1.00
...          ...       ...       ...       ...       ...       ...      ...
222419  0.051105  0.401524 -0.724766 -0.202881  0.092124  0.094956     0.00
223366 -0.021910 -0.376560  0.192817  0.114107  0.500996  0.259533     1.00
223572 -0.502433 -0.462309  0.510683  0.046665  0.514646  0.140999     1.00
223578 -1.110045  0.178987  0.220235 -0.699809  0.580487 -0.173630     8.90
223618  0.167947 -0.449864  0.023702  0.536905  0.485864 -0.042393     1.00

[830 rows x 30 columns]

In [28]:
print(Y)

198373    0.0
109626    0.0
170136    0.0
186414    0.0
9044      0.0
         ...
222419    1.0
223366    1.0
223572    1.0
223578    1.0
223618    1.0
Name: Class, Length: 830, dtype: float64

Spliiting the data into training data and testing data

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)
#data splitted into train and test data

(830, 30) (664, 30) (166, 30)

Model Training (Logistic Regression)

In [31]:
model = LogisticRegression()

In [32]:
#training the model
model.fit(X_train, Y_train)

LogisticRegression()

In [34]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [35]:
print("Acuuracy is :",training_data_accuracy)

Acuuracy is : 0.9021084337349398

In [37]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [38]:
print("Accuray for test data:",test_data_accuracy)

Accuray for test data: 0.9036144578313253

here if the test data accuracy is different from train data the whether the model is overfitted model or underfitted model